<div class="left-side">
    <h2>
        info
    </h2>
</div>
<div class="right-side">

     <div>index: {{context.index}}</div>
     <div>name: {{context.name}}</div>
     <div>path: {{context.path}}</div>
     <div>size: {{context.size}}</div>
     <div>date: {{context.date}}</div>
      <div>type: {{context.type}}</div>
</div>